.discoverHeaderStyle {
  padding: 0 360px;
  height: 35px;
  line-height: 30px;
  background-color: #c20c0c;
  .nav {
    margin: 0;
    a {
      font-size: 12px;
      color: #f2e0ec;
      text-decoration-line: none;
      padding:0 36px;
    }
  }
}
